.toast {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.toast.enter {
  opacity: 1;
  transform: translateY(0);
}

.toast.exit {
  opacity: 0;
  transform: translateY(-20px);
}

.toast.info {
  background-color: #3498db; /* Blue for info */
}

.toast.success {
  background-color: #2ecc71; /* Green for success */
}

.toast.error {
  background-color: #e74c3c; /* Red for error */
}

.toast.warning {
  background-color: #f39c12; /* Orange for warning */
}

.message {
  flex-grow: 1;
  margin-right: 10px;
}

.closeButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

.closeButton:hover {
  opacity: 0.7;
}
